asttokens==2.2.1
backcall==0.2.0
boltons @ file:///croot/boltons_1677628692245/work
brotlipy==0.7.0
certifi @ file:///croot/certifi_1671487769961/work/certifi
cffi @ file:///croot/cffi_1670423208954/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
cmake==3.26.4
conda==23.3.1
conda-content-trust @ file:///tmp/abs_5952f1c8-355c-4855-ad2e-538535021ba5h26t22e5/croots/recipe/conda-content-trust_1658126371814/work
conda-package-handling @ file:///croot/conda-package-handling_1672865015732/work
conda_package_streaming @ file:///croot/conda-package-streaming_1670508151586/work
contourpy==1.1.0
cryptography @ file:///croot/cryptography_1677533068310/work
cycler==0.11.0
cysignals==1.11.2
Cython==0.29.35
decorator==5.1.1
easydict==1.10
editdistance==0.6.2
einops==0.6.1
executing==1.2.0
filelock==3.12.2
fonttools==4.40.0
future==0.18.3
idna @ file:///croot/idna_1666125576474/work
ipython==8.14.0
jedi==0.18.2
Jinja2==3.1.2
jsonpatch @ file:///tmp/build/80754af9/jsonpatch_1615747632069/work
jsonpointer==2.1
kiwisolver==1.4.4
lit==16.0.6
lmdb==1.4.1
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline==0.1.6
mpmath==1.3.0
networkx==3.1
numpy==1.25.0
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
opencv-python==4.8.0.74
packaging @ file:///croot/packaging_1678965309396/work
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
pluggy @ file:///tmp/build/80754af9/pluggy_1648024709248/work
prompt-toolkit==3.0.38
protobuf==4.23.3
ptflops==0.7
ptyprocess==0.7.0
pure-eval==0.2.2
pycosat @ file:///croot/pycosat_1666805502580/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyfasttext==0.4.6
Pygments==2.15.1
pyOpenSSL @ file:///croot/pyopenssl_1677607685877/work
pyparsing==3.1.0
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
python-dateutil==2.8.2
PyYAML==6.0
requests @ file:///croot/requests_1678709721434/work
ruamel.yaml @ file:///croot/ruamel.yaml_1666304550667/work
ruamel.yaml.clib @ file:///croot/ruamel.yaml.clib_1666302247304/work
scipy==1.11.1
six @ file:///tmp/build/80754af9/six_1644875935023/work
stack-data==0.6.2
sympy==1.12
tensorboardX==2.6.1
thop==0.1.1.post2209072238
toolz @ file:///croot/toolz_1667464077321/work
torch==2.0.1
torchvision==0.15.2
tqdm @ file:///croot/tqdm_1679561862951/work
traitlets==5.9.0
triton==2.0.0
typing_extensions==4.7.0
urllib3 @ file:///croot/urllib3_1680254681959/work
wcwidth==0.2.6
zstandard @ file:///croot/zstandard_1677013143055/work
